<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- File Name you want to use for the output content, use any extension you need. Ex: .xml -->
        <add key="FileName" value="temp.xml" />
        <!-- File Path where you want the file to be saved in the system. Verify the user has read/write permissions -->
        <add key="FilePath" value="c:\temp\"/>
        <!-- URL to use to retrieve the content of it -->
        <add key="Url" value=""/>
        <!-- Web Request Time Out in seconds. Increase this value if the Content of the Url is huge -->
        <add key="WebRequestTimeout" value="1600"/>
    </appSettings>
</configuration>